.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: monospace;
    color: black;
    background-color: #d2f8d6;
}

.header {
    height: 30vh;
}

.header__title {
    color: #7264e7;
    font-weight: bold;
    font-family: sans-serif;
}

.header__text {
    margin-bottom: 0;
}

.content {
    height: 60vh;
}

.btn {
    border: 5px solid #6fcf97;
    background-color: #d2f8d6;
    cursor: pointer;
    padding: 7px 20px;
}

.btn:hover {
    border-color: #7264e7; 
    background-color: #7264e7;
    color: #d2f8d6;
}