.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', monospace;
    color: black;
    background-color: #d2f8d6;
}

.header {
    height: 30vh;
}

.header__title {
    color: #7264e7;
    font-weight: bolder;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.header__text {
    margin-bottom: 0;
}

.content {
    height: 60vh;
}

.content__control-panel {
    flex-direction: row;
}

.content__control-panel__btn {
    border: 5px solid #6fcf97;
    background-color: #d2f8d6;
    cursor: pointer;
    padding: 7px 20px;
    width: 20vh;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.content__control-panel__btn:hover {
    border-color: #7264e7; 
    background-color: #7264e7;
    color: #d2f8d6;
}

.content__results-container {
    height: 50vh;
}

.content__results-container__result-text {
    padding: 7px 0;
}
